.about {



  

    //.about__title

    &__title {
        margin-top: 30px;

        font-family: PT Serif;
        font-size: 30px;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: left;
        color: #515151;
    }
      //.about__wrapper

      &__wrapper {
        display: flex;

        margin-top: 60px;
      }

    //.about__left

    &__left {}

    //.about__right

    &__right {
        margin-left: 27px;
    }

    //.about__list

    &__list {
        font-family: PT Serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        color: #515151;
     
    }

 
    //.about__item
    &__item {
        margin-top: 28px;
    }
    .button{
        margin-top: 28px;
    }

    &__img{
        margin-top: 28px;
    }

}