.feedback {
    background: rgba(131, 204, 255, 0.4);
    padding: 48px 0;
    margin-top: 65px;
    // .feedback__wrapper

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .feedback__title

    &__title {
        font-size: 30px;
        font-weight: 400;
    }

    // .feedback__button

    &__button {
        display: flex;
        align-items: center;
        border-radius: 40px;
        background: linear-gradient(143deg, #64f873 0%, #019007 100%) !important;
        box-shadow: 0px 0px 10px 10px rgba(1, 31, 144, 0.1);
        padding: 20px 30px 15px;
        margin-left: 20px;
    }
    .icon {
        margin-right: 23px;
    }
    .icon use {
        width: 35px;
        height: 36.81px;
    }
}
@media (max-width: 1024px) {
    .feedback {
        background: rgba(131, 204, 255, 0.4);
        padding: 30px 0;
        margin-top: 30px;
        // .feedback__wrapper

        &__wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }

        // .feedback__title

        &__title {
            text-align: center;
            font-size: 24px;
        }

        // .feedback__button

        &__button {
            margin: 20px 0 0 0;
        }
        .icon {
            margin-right: 23px;
        }
        .icon use {
            width: 35px;
            height: 36.81px;
        }
    }
}