.firstscreen {
    background: linear-gradient(180deg, #e4f4ff 0%, #ceebff 100%);
    padding: 44px 0 55px;
    // .firstscreen__wrapper

    &__wrapper {
        position: relative;
    }
    // .firstscreen__top

    &__top {
        display: flex;
        justify-content: space-between;
    }

    // .firstscreen__left

    &__left {
        position: relative;
        z-index: 1;
    }

    // .firstscreen__content

    &__content {
        max-width: 665px;
    }

    // .firstscreen__title

    &__title {
        font-size: 34px;
        font-weight: 700;
        strong {
            color: #3875c9;
        }
    }

    // .firstscreen__subtitle

    &__subtitle {
        font-size: 24px;
        margin-top: 24px;
    }
    &__subtitle-bottom {
        color: #3875c9;
        font-weight: 700;
        margin-top: 10px;
    }

    // .firstscreen__button

    &__button {
        margin-top: 30px;
    }
    &__button-sale {
        position: relative;
    }
    &__button-video {
        position: relative;
        max-width: none;
        width: auto;
        padding: 20px 15px 20px 73px;
        font-size: 16px;
        margin-left: 115px;
        line-height: 1em;
        .icon {
            width: 60px;
            height: 60px;
            position: absolute;
            left: -5px;
            top: 0;
        }
    }

    // .firstscreen__sale

    &__sale {
        position: absolute;
        right: -65px;
        top: -16px;
    }

    // .firstscreen__right

    &__right {
        position: relative;
        img {
            position: absolute;
            top: 18px;
            right: -80px;
            width: 517.057px;
            height: auto;
        }
    }
    // .firstscreen__list

    &__bottom {
        position: relative;
        z-index: 1;
    }
    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 45px;
    }

    // .firstscreen__item

    &__item {
        display: flex;
        align-items: flex-start;
        max-width: 362px;
        border: 1px solid #64bbf8;
        background: #fff;
        padding: 20px;
        border-radius: 5px;
        img {
            max-width: 67px;
        }
    }

    // .firstscreen__item-content

    &__item-content {
        margin-left: 15px;
        h3 {
            color: #515151;
            font-size: 18px;
            font-weight: 700;
        }
        p {
            margin-top: 5px;
        }
    }
}
@media (max-width: 1360px) {
    .firstscreen {
        &__right {
            img {
                top: 18px;
                right: 0;
                width: 450px;
            }
        }
        &__list {
            justify-content: space-evenly;
        }
        &__item {
            margin-bottom: 20px;
        }
    }
}
@media (max-width: 1080px) {
    .firstscreen {
        &__right {
            display: none;
        }
    }
}
@media (max-width: 780px) {
    .firstscreen {
        .button:last-child {
            padding: 20px 15px 20px 73px;
            margin-left: 70px;
        }
        &__button-sale {
            padding: 20px 20px;
            width: auto;
        }
    }
}

@media (max-width: 580px) {
    .firstscreen {
        .button:last-child {
            padding: 20px 15px 20px 73px;
            margin-left: 0;
            margin-top: 50px;
        }
        &__button-sale {
            padding: 24px 20px;
            max-width: 375px;
            width: 100%;
        }
    }
}

@media (max-width: 580px) {
    .firstscreen {
        .button:last-child {
            padding: 20px 15px 20px 73px;
            margin-left: 0;
            margin-top: 50px;
        }
        &__button-sale {
            padding: 24px 20px;
            max-width: 81vw;
            width: 100%;
            img {
                right: -12vw;
                top: -3vw;
                width: 27vw;
            }
        }
    }
}
@media (max-width: 480px) {
    .firstscreen {
        padding: 20px 0;
    }
    .firstscreen .button:last-child {
        margin-top: 30px;
    }
    .firstscreen__button-sale {
        padding: 16px 12px;
        font-size: 16px;
    }
    .firstscreen__title {
        font-size: 26px;
    }
    .firstscreen__subtitle {
        font-size: 18px;
    }
    .firstscreen__item{
        padding: 15px 10px;
        img{
            width: 15vw;
        }
    }
    .firstscreen__item-content h3{
        font-size: 20px;
    }
}