.footer {

    //.footer__wrapper

    &__wrapper {
        margin-top: 50px;
        height: 451px;
    }

    //.footer__top

    &__top {
        display: flex;

        background: #83CCFF66;

    }

    //.footer__top-left

    &__top-left{
        width: 557px;
        height: 368px;
    }

    //.footer__top-right

    &__top-right {
        margin-left: 123px;
    }

    //.footer__top-title

    &__top-title {
        margin-top: 46px;

        font-family: PT Serif;
        font-size: 30px;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: left;

        color: #515151;
    }

    //.footer__top-list

    &__top-list {
        margin-top: 34px;

        font-family: PT Serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;

        color: #353535;
    }


    //.footer__top-item

    &__top-item {
        margin-top: 23px;
    }

   //.!!!!
   
   &__button {
        margin-top: 56px;
    }

    //.footer__bottom

    &__bottom {
        display: flex;
        justify-content: space-between;
        background: #D9D9D9;
              }

    //.footer__left

    &__left {

        display: flex;

        background: #D9D9D9;

        font-family: PT Serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        color: #000;
    }

    //.footer__right

    &__right {
        display: flex;
    }

}




