.footer {
    background: #83ccff66;

    //.footer__wrapper

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 50px;
        height: 451px;
    }

    //.footer__top

    &__top {
        display: flex;
    }

    //.footer__top-left

    &__top-left {
        padding-top: 40px;
       
    }
    .img{
        width: 557px;
        height: 343px;
    }

    //.footer__top-right

    &__top-right {
        margin-left: 123px;
    }

    //.footer__top-title

    &__top-title {
        margin-top: 46px;

        font-family: PT Serif;
        font-size: 30px;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: left;

        color: #515151;
    }

    //.footer__top-list

    &__top-list {
        margin-top: 34px;

        font-family: PT Serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;

        color: #353535;
    }

    //.footer__top-item

    &__top-item {
        margin-top: 23px;
    }

    //.!!!!

    &__button {
        margin-top: 56px;
    }

    //.footer__bottom

    &__bottom {
        padding: 22px 147px 16px 146px;
        height: 63px;
        background: #d9d9d9;
    }
    &__bottom-wrapper {
        display: flex;
        justify-content: space-between;
    }
    //.footer__left

    &__left {
        display: flex;
        background: #d9d9d9;
        font-family: PT Serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        color: #000;
    }

   &__bottom-info__left{
    padding-right: 106px;
    
   }

  

    //.footer__right

    &__right {
        display: flex;
    }

    &__bottom-info{
        padding-right: 41px;
    }
}
