.gallery {


    //.gallery__wrapper

    &wrapper {}

    //.gallery__title

    &__title {
        font-family: PT Serif;
        font-size: 30px;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: left;

        color: #515151;
    }

    //.gallery__wrap

    &__wrap {
        display: flex;

        margin-top: 65px;
    }

    //.gallert__right

    &__right {}

}