.header {
    // position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #E4F4FF;
    // background: linear-gradient(180deg, #E4F4FF 0%, #CEEBFF 100%);
    padding: 16px 0;

    // .header__wrapper

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .header__logo

    &__logo {
        width: 97px;
        height: 83px;
    }

    // .header__menu

    &__menu {
        display: flex;
        align-items: center;
        margin: 0 20px;
    }

    // .header__phone

    &__phone {
        display: flex;
        align-items: center;
    }
    &__phone-link {
        display: flex;
        align-items: center;
        font-size: 20px;
        svg{
            margin-right: 10px;
        }
    }
}
.menu {
    // .menu__list

    &__list {
        display: flex;
        align-items: center;
        margin: 0 -12.5px;
    }

    // .menu__item

    &__item {
        display: inline-block;
        padding: 0 12.5px;
    }

    // .menu__link

    &__link {
        font-size: 18px;
    }
}
