.payment {

		// .payment__wrapper

		&__wrapper {
		}

		// .payment__title

		&__title {
		}

		// .payment__wrap

		&__wrap {
            display: flex;
		}

		// .payment__left

		&__left {
		}

		// .payment__left-title

		&__left-title {
		}

		// .payment__text

		&__text {
		}

		// .payment__list

		&__list {
		}

		// .payment__item

		&__item {
		}

		// .payment__button

		&__button {
		}

		// .payment__right

		&__right {
		}

		// .payment__bottom

		&__bottom {
            display: flex;
            align-items: center;
		}

		// .payment__bottom-left

		&__bottom-left {
		}

		// .payment__bottom-image

		&__bottom-image {
		}

		// .payment__bottom-right

		&__bottom-right {
		}

		// .payment__bottom-title

		&__bottom-title {
		}

		// .payment__bottom-text-wrap

		&__bottom-text-wrap {
		}

		// .payment__bottom-text

		&__bottom-text {
		}
}