.step {
    margin-top: 85px;

    // .step__title-main

    &__title-main {
    }

    // .step__wrapper

    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
    }

    // .step__col

    &__col {
        width: 43%;
        display: flex;
        flex-direction: column;
    }

    &__col:last-child {
        margin-top: 150px;
    }

    // .step__item

    &__item:first-child {
        margin-top: 0;
    }

    &__item {
        position: relative;
        border-radius: 5px;
        border: 1px solid #64bbf8;
        background: #fff;
        margin-top: 72px;
        padding: 17px 30px 25px;
    }
    &__item:hover &__number{
        border: 10px solid #64bbf8;
    }
    // .step__top

    &__top {
        display: flex;
        align-items: center;
        img {
            max-width: 66px;
            max-height: 66px;
            object-fit: contain;
        }
    }

    // .step__title

    &__title {
        margin-left: 14px;
        font-size: 20px;
        font-weight: 700;
    }

    // .step__text

    &__text {
        margin-top: 7px;
    }

    // .step__number

    &__col:first-child &__number {
        top: 34%;
        right: -107px;
    }
    &__col:last-child &__number {
        top: 41%;
        left: -107px;
    }
    &__number {
        position: absolute;
        background-color: #3875c9;
        padding: 6px 12px;
        border-radius: 50%;
        font-size: 30px;
        font-weight: 700;
        border: 5px solid #64bbf8;
        color: #fff;
        box-shadow: 0px 0px 4px 6px #64bbf8;
        transition: .3s;
    }
    &__col:first-child &__number::before {
        right: 100%;
    }
    &__col:last-child &__number::before {
        left: 100%;
    }
    &__number::before {
        content: "";
        position: absolute;
        display: block;
        top: calc(50% - 0.5px);
        width: 100px;
        height: 1px;
        background: #64bbf8;
        z-index: -1;
    }
    &__number::after {
        content: "";
        position: absolute;
        display: block;
        top: 100%;
        left: calc(50% - 0.5px);
        width: 1px;
        height: 120px;
        background: #64bbf8;
        z-index: -1;
    }
    &__item:last-child &__number:after {
        display: none;
    }
    // .step__download

    &__download {
        a {
            color: #3875c9;
            font-size: 20px;
            text-decoration-line: underline;
        }
        margin-top: 30px;
        text-align: center;
    }
    .button {
        margin-top: 20px;
    }
}
@media (max-width: 1250px) {
    .step__number {
        display: none;
    }
    .step__wrapper {
        justify-content: space-evenly;
    }
}
@media (max-width: 768px) {
    .step{
        margin-top: 30px;
    }
    .step__wrapper {
        flex-direction: column-reverse;
        justify-content: flex-start;
        margin-top: 20px;
    }
    .step__col {
        width: 100%;
    }
    .step__col:first-child{
        margin-top: 20px;
    }
    .step__col:last-child{
        margin-top: 0;
    }
    .step__download {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .step__download .button {
        margin-top: 25px;
    }
    .step__item{
        margin-top: 20px;
        padding: 10px 15px 20px;
    }
}